:root {
  --blue: #4CCBFF;
  --primary: #4CCBFF;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.logout-button {
  background: var(--blue);
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  box-shadow: 0px 3px 2px black;
  position: relative;
  top: -3px;
  transition: 0.3s box-shadow, 0.3s top;
}

.logout-button:hover {
  box-shadow: 0px 2px 1px black;
  top: -2px;
}

.logout-button:active {
  animation: 0.3s click;
}

@keyframes click {
  0% {
    box-shadow: 0px 2px 1px black;
    top: -2px;
  }

  50% {
    box-shadow: 0px 0px 0px black;
    top: 0px;
  }

  100% {
    box-shadow: 0px 3px 2px black;
    top: -3px;
  }
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}